<h1>Add a new post <%=@user.name%>!</h1>

<%= form_with model: @post, url: user_posts_path do |form|%>

  <%= form.label :Title%>
  <%= form.text_field :title%>

  <br>
  <br>

  <%= form.label :Text%>
  <%= form.text_area :text%>
  
  <br>
  <br>
  <%= form.submit%>
<%end%>