<div>
  <div>
    <div>
      <h3><%=@post.title%></h3> by: <%=@user.name%>
      <p>Comments: <%=@post.commentsCounter%>, Likes:<%=@post.likesCounter%></p>
    </div>
    <p><%=@post.text%></p>
  </div>

  <%= button_to "Like", user_post_likes_path(user_id:@user.id, post_id:@post.id), :method=>:post %>

  <%= form_with model: Comment.new, url: user_post_comments_path(@user.id, @post.id) do |form| %>
    <%= form.text_field :text %>
    <%= form.submit %>
  <% end %>

  <div>
    <%= render partial: 'comment', collection: @post.comments.order(created_at: :desc) %>
  </div>

  <div>
    <% if can? :destroy, @post.comments %>
      <%= button_to "DELETE POST", user_post_path(user_id:@user.id, post_id:@post.id), :method=>:delete %>
    <%end%>
  </div>
</div>
